@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../assets/brickbackground.jpg');
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: absolute;
  font-family: 'Roboto'
}

@media screen and (max-width: 430px) {

  .App {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

}



