.category-card {
  box-sizing: border-box;
  border: 3px solid white;
  padding: 10px;
  background-color: rgb(251, 251, 250, 0.7);
  border-radius: 50px;
  color: #FF007F;
  font-size: 20px;
  font-weight: bolder;
}

a { 
  text-decoration: none;
}