h1 {
  font-size: 60px;
  color: white;
  margin: 2%;
}

.nav-directions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.directions {
  color: black;
  text-align: center;
  font-size: 28px;
  margin: 0;
  margin-right: 16%;
  border: 10px solid black;
  background-color: #fbfbfa80;
  border-radius: 10%;
  padding: 10px;
}

.logo {
  box-sizing: border-box;
  border: 20px solid rgba(0,0,0,0.5);
  height: 100%;
  width: 95%;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 5%;
}

.form-link {
  color: black;
  font-size: 20px;
  border: 10px solid black;
  background-color: #fbfbfa80;
  border-radius: 40%;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 31%;
  margin-top: 6%;
  margin-right: 7%;
  margin-left: 500px;
  width: 50%;
}

@media screen and (min-width: 100px) and (max-width: 480px) {

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .directions {
    margin-right: 23px;
  }

  .form-link {
    margin-left: 78px;
  }

  .logo {
    margin-right: 10px;
  }

}

@media screen and (min-width: 481px) and (max-width: 820px) {

  .logo {
    height: 90%;
    width: 119%;
  }

  .nav-directions {
    flex-direction: column;
    justify-content: space-around;
  }

  .form-link {
    margin-left: 100px;
    margin-bottom: 30px;
  }

  .directions {
    margin-left: 15%;
  }

}

