.single-question-card {
  box-sizing: border-box;
  border: 3px solid black;
  padding: 10px;
  background-color: white;
  height: 550px;
  width: 740px;
  display: flex;
  flex-direction: column;
  padding: 5%;
  overflow-x: scroll;
  word-wrap: break-word;
  border-radius: 10px;
}


.top-row-answers,
.bottom-row-answers {
  display: flex;
  text-align: initial;
  justify-content: space-between;
  margin-bottom: 10%;
  font-size: 20px;
}

.question-total {
  font-size: 20px;
}

.current-question {
  margin-bottom: 10%;
  font-size: 30px;
}

.submit-answer-button {
  width: 20%;
  border-radius: 20px;
  background-color: #fbfbfab3;
  font-size: large;
}

input[type="radio"] {  
  margin-right: 15px;
}

.submit-answer-button:hover {
  background-color: grey;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
} 

.answer-button-container {
  display: flex;
  justify-content: center;
}
/* .top-row-answers {
  margin-bottom: 20px;
} */

.possible-answers-container {
 margin: 5px 25px 10px 25px;
 display: flex;
 flex-direction: column;
}

.top-right,
.bottom-right,
.bottom-left,
.top-left {
  display: flex;
}

label {
  display: inline-block;
  width: 170px;
}
/* .possible-answers {
  display: flex;
} */ 