.trivia-game-view { 
  display: flex;
  background-size: auto;
}

.trivia-game-card { 
  box-sizing: border-box;
  border: 3px solid black;
  padding: 10px;
  height: 40%;
  width: 40%;
}

.game-over-msg, 
.correct-answers-msg,
.options,
.navigate-home {
  color:white; 
  font-size: 24px;
}
